html, body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.container{
    margin-left: 10px;
    margin-right: 10px;
}

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*justify-content: center;
    align-items: flex-end;*/
}

.col{
    flex: 1;
    min-width: 320px;
    margin: 16px;
}



@media  only screen and (min-width: 600px){

    .container{
        margin-left: 60px;
        margin-right: 60px;
    }

}

@media  only screen and (min-width: 960px){

    .container{
        margin-left: 180px;
        margin-right: 180px;
    }

}


